<div class='container list-container'>

  <div class='list-subsections'>
    <div class='list-section'>
      <h4>TV shows to watch</h4>
      <% @tv_shows.each do |tv_show| %>
        <% if tv_show.complete == false %>
        <p><%= tv_show.name %> - IMDb rating: <%= tv_show.imdb_rating %> <span> <%= link_to 'mark as watched', tv_show_path(tv_show), class: 'secondary-bttn' %></span></p>
        <% end %>
      <% end %>
    </div>

    <div class='list-section'>
      <h4>TV shows watched</h4>
      <% @tv_shows.each do |tv_show| %>
        <% if tv_show.complete == true %>
          <p><%= tv_show.name %> - IMDb rating: <%= tv_show.imdb_rating %></p>
        <% end %>
      <% end %>
    </div>
  </div>

  <div>
    <%= link_to  'Add TV Show', new_tv_show_path, class: 'bttn' %>
  </div>
</div>
