<div class='banner-image-books'> <img src="https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt=""> </div>
<div class='container list-container'>


  <div class='list-subsections'>
    <div class='list-section'>
      <h4>Books to read</h4>
      <% @books.each do |book| %>
        <% if book.complete == false %>
        <p><%= book.name %> - <%= book.author %> <span> <%= link_to 'mark as read', book_path(book), class: 'secondary-bttn' %></span></p>
        <% end %>
      <% end %>
    </div>

    <div class='list-section'>
      <h4>Books read</h4>
      <% @books.each do |book| %>
        <% if book.complete == true %>
          <p><%= book.name %> - <%= book.author %></p>
        <% end %>
      <% end %>
    </div>
  </div>

  <div>
    <%= link_to  'Add book', new_book_path, class: 'bttn' %>
  </div>
</div>
